<div class="container col-md-4 mb-5 project" data-aos="zoom-in" data-aos-duration="1500">
    <div data-id="{{dataValues.id}}">
        <h2>{{dataValues.projectName}}</h2>
        <a href="{{dataValues.deployedLink}}"><img class="portfolio-image rounded img-fluid" width="100%" src="{{dataValues.imagePath}}"
                alt="No Image"></a>
        <p class="project-text"><a class=("deployed-link") href="{{dataValues.deployedLink}}">Click Here</a> to view the Demo</p>
        <p class="project-text"><a href="{{dataValues.repositoryLink}}">Click Here</a> to visit github repo</p>
        <p class="project-text project-desc">{{dataValues.projectDescription}}</p>
    </div>
</div>